<%= turbo_stream.replace "locations_form" do %>
  <%= render partial: "settings/locations_form", locals: { shop: @shop } %>
<% end %>

<%= turbo_stream.prepend "flash" do %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Locations synchronized successfully
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %> 